.gallery-list-item {
    list-style-type: none;
    background-color: #c19c17;
    padding: 15px;
    margin-right: 48px;
    margin-bottom: 30px;
    height: 250px;
    width: 250px;
    filter: brightness(60%);
    border-radius: 14px;
    box-shadow: 10px 10px 16px #999;
    transition: transform 0.3s ease;
}

.gallery-list-item:hover {
    transform: scale(1.05);
}

.gallery-list-item-image {
    height: 225px;
    width: 225px;
    border: 2px dashed #111111;
    padding: 10px;
}

/* Tablet View */
@media (max-width: 768px) {
    .gallery-list-item {
        width: 200px;
        height: 200px;
        margin-right: 30px;
        padding: 10px;
    }

    .gallery-list-item-image {
        width: 180px;
        height: 180px;
        padding: 8px;
    }
}

/* Mobile View */
@media (max-width: 480px) {
    .gallery-list-item {
    list-style-type: none;
    background-color: #c19c17;
    padding: 10px;
    margin-bottom: 20px;
    height: 200px;
    width: 200px;
    filter: brightness(60%);
    border-radius: 10px;
    box-shadow: 10px 10px 16px #999;
    transition: transform 0.3s ease;
    }

    .gallery-list-item-image {
        height: 175px;
        width: 175px;
        border: 2px dashed #111111;
        padding: 10px;
    }
}
